{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}| T3
    </title>
    
    {% block favicon %}
        <link rel="shortcut icon" href="{% static 'master/img/favicon.ico' %}"/>
    {% endblock %}
    
    {# Block where global CSS will go. #}
    {% block styles %}
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-G9DpmGxRIF6tpgbrkZVcZDeIomEU22LgTguPAI739bbKytjPE/kHTK5YxjJAAEXC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'master/css/style.css' %}"/>   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    {% endblock %}

    {# Additional CSS - specific to certain pages #}
    {% block extrastyles %}
    {% endblock %}

    {# Scripts loaded from a CDN. #}
    {% block cdn_scripts %}
    {% endblock %}

    {# Local scripts #}
    {% block scripts %}
        <script src="{% static 'master/js/functions.js' %}"></script>
    {% endblock %}

    {# Load extra scripts #}
    {% block extrascripts %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js" integrity="sha256-lISRn4x2bHaafBiAb0H5C7mqJli7N0SH+vrapxjIz3k=" crossorigin="anonymous"></script>
    {% endblock %}

</head>
<body class="bg-light-blue-grad">
    {% load crispy_forms_tags %}
    {% block nav %}
    {% endblock %}
    {% block header %}
    {% endblock %} 
    {# El contenido master va en este bloque #}
    <main class="container">
    {% block content %}
    
    {% endblock %}
    </main>
</body>
</html>