{% extends 'base.html' %}
{% load static %}
{% block nav %}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">t<sup>3</sup><span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user' %}">Mi perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'companyprofile' %}">Mi empresa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reportes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'worksesh' %}"><i class="bi bi-alarm-fill orange_color"></i></a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="nav-link navbar-text" href="{% url 'logout' %}">Salir</a>
    </span>
  </div>
</nav>
{% endblock %}