{% extends 'base.html' %}
{% load static %}
{% block title %} Crear Proyecto{% endblock %}
{% block nav %}
    {% load crispy_forms_tags %}
    {% if user.company == 'No company' %}
        {% include 'nav-bar.html' %}   
    {% else %}
        {% include 'company-nav.html' %} 
    {% endif %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row py-5">
    <div class="col">
        <div>            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tag }}"{% endif %}>{{ message }}</li>                         
                    {% endfor %}
                </ul>
            {% endif %}                   
        </div>
        <h3 class="font-main">Agrega un nuevo proyecto</h3>
        <form action="{% url 'createProject' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col">
                    {{ form.project_name|as_crispy_field }}
                </div>
                <div class="form-group col">
                    {{ form.client|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    {{ form.startDate|as_crispy_field }}
                </div>
                <div class="form-group col">
                    {{ form.endDate|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    {{ form.hours_assigned|as_crispy_field }}
                </div>
                <div class="form-group col">
                    <label for="project_lead">Responsable</label>
                    <select class="form-control" name="project_lead" id="project_lead">
                        {% for staff in company.staff_members.all %}
                            <option value="staff.id">{{ staff.name }} {{ staff.lastname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="btn btn-warning" type="submit">Agregar</button>
        </form>
    </div>
    <div class="col">
        <h3 class="font-main">Proyectos</h3>
        <table class="table table-striped bg-light-blue border-dark rounded shadow">
            <thead class="thead-dark">
                <th>Nombre</th>
                <th>Cliente</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Término</th>
                <th>Detalles</th>
            </thead>
            <tbody class="text-light">               
                {% if user.permission_level == 'a' %}
                    {% for project in company.company_projects.all %}
                    <tr>
                        <td>{{ project.project_name }}</td>
                        <td>{{ project.client }}</td>
                        <td>{{ project.startDate }}</td>
                        <td>{{ project.endDate }}</td>
                        <td><a href="{% url 'project' id=project.id %}">+</a></td>
                    </tr>                       
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}