{% extends 'base.html' %}
{% load static %}
{% block title %}Mi perfil{% endblock %}
{% block nav %}
  {% if user.company == 'No company' %}
      {% include 'nav-bar.html' %}   
  {% else %}
      {% include 'company-nav.html' %} 
  {% endif %}   
{% endblock %}
{% block header %}
  {% load crispy_forms_tags %}
  {% include 'header_user.html' %}
{% endblock %}
{% block content %}
<div class="row row-cols-2 pb-2">
  <div class="col">
    <h3 class="font-main big-font text-left">Edita tu información:</h3>
  </div>
  <div class="col-6 d-flex">
    <h3 class="font-main big-font text-left"></h3>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <form action="ediarpefil" method="post">
      {% csrf_token %}
      {{ editform|crispy }}
      <a class="btn-dark-blue" href="{% url 'editarperfil' %}">Editar mi información</a>
    </form>
  </div>
  <div class="col-6 d-flex">
  </div>
</div>

{% endblock %}