{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block nav %}
    {% if user.company == 'No company' %}
        {% include 'nav-bar.html' %}   
    {% else %}
        {% include 'company-nav.html' %} 
    {% endif %}   
{% endblock %}
{% block header %}
    {% include 'header_user.html' %}
{% endblock %}
{% block content %}
<div class="row row-cols-2 pb-2">
  <div class="col">
    <h3 class="font-main big-font text-left">Resumen</h3>
  </div>
  <div class="col-6 d-flex">
    <h3 class="font-main big-font text-left">Tus últimas sesiones de trabajo</h3>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <ul class="list-group pb-2">
      {% if projects %}
        <h3 class="font-main medium-font text-left">Proyectos que lideras:</h3>
        {% for project in projects %}
        <li class="list-group-item font-secondary">{{  project.project_name }}</li>       
        {% endfor %}    
      {% endif %}   
    </ul>
    <ul class="list-group">
        <h3 class="font-main medium-font text-left">Tus tareas:</h3>
        {% for assignment in assignments %}
        <li class="list-group-item font-secondary">{{  assignment.tasks.task_name }}</li>       
        {% endfor %}     
    </ul>
  </div>
  <div class="col-6 d-flex">
    {% for worksession in worksessions %}
      <div class="session_card">
        <h3 class="session_card_title font-secondary">{{ worksession.assignment.tasks.task_name }}</h3>
        <hr class="mx-3">
        <p class="session_card_body font-secondary"><span class="font-weight-bold">Proyecto:</span>{{ worksession.assignment.tasks.project }}</p>
        <hr class="mx-3">
        <p class="session_card_body font-secondary text-center">{{ worksession.startTime|date:"SHORT_DATETIME_FORMAT" }} | {{ worksession.stopTime|date:"SHORT_DATETIME_FORMAT" }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}