{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block nav %}
    {% include 'nav-bar.html' %}
{% endblock %}
{% block header %}
    {% include 'header_user.html' %}
{% endblock %}
{% block content %}
    <div class="col ml-3">
        <h3 class="font-main">Tus proyectos</h3>
        <table class="table table-striped table-bordered font-secondary">
            <thead class="thead-dark">
                <th>Proyecto</th>
                <th>Cliente</th>
                <th>Fecha de inicio</th>
                <th>Fecha de término</th>
            </thead>
            <tbody class="text-light">
                <tr>
                    <td>Asesoría MINVU</td>
                    <td>MINVU</td>
                    <td>09/09/2020</td>
                    <td>09/12/2021</td>
                </tr>
                <tr>
                    <td>Capacitación Inmobiliaria X</td>
                    <td>Inmobiliaria X</td>
                    <td>01/11/2020</td>
                    <td>10/12/2021</td>
                </tr>
                <tr>
                    <td>Asesoría Constructora X</td>
                    <td>Constructora X</td>
                    <td>05/05/2020</td>
                    <td>05/05/2021</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-warning">Crea un nuevo proyecto</button>
    </div>
</div>
{% endblock %}