{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block nav %}
    {% include 'company-nav.html' %} 
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row row-cols-2 py-5">
  <div class="col-4">
    <h3 class="font-main big-font text-center">Asignaciones</h3>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tag }}"{% endif %}>{{ message }}</li>                         
                {% endfor %}
            </ul>
        {% endif %}        
  </div>
  
  <div class="col-6">
    <h3 class="font-main big-font text-right">Sesiones de trabajo recientes</h3>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="bg-light-blue border-dark rounded shadow">
      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th colspan="3">Proyectos que lideras</th>
          </tr>
          <tr>
              <tr>
                <th>Nombre</th>
                <th>Inicio</th>
                <th>Término</th>
              </tr>
        <tbody>
          <tr>
            {% for project in company.company_projects.all %}        
              {% if project.project_lead == user %}
                <td>{{ project.project_name }}</td>  
                <td>{{ project.startDate|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ project.endDate|date:"SHORT_DATE_FORMAT"  }}</td>
              {% endif %}
            {% endfor %}  
          </tr>
        </tbody>
        <thead class="thead-dark">
          <tr>
            <th colspan="3">Tus tareas prioritarias</th>
          </tr>
          <tr>
            <th>Tarea</th>
            <th>Proyecto</th>
            <th>Prioridad</th>
          </tr>
        </thead>
        <tbody>
          {% for assignment in assignments %}
            {% if assignment.tasks.priority == 'H' or assignment.tasks.priority == 'M' %}
            <tr>
              <td>{{ assignment.tasks.task_name }}</td> 
              <td>{{ assignment.tasks.project.project_name }}</td>
              <td class="text-center">{{ assignment.tasks.priority }}</td>
            </tr>
            {% endif %}        
          {% endfor %}  
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-6 d-flex">
      {% if worksessions %}
      {% for worksession in worksessions %}
        <div class="session_card">
          <h3 class="session_card_title font-secondary">{{ worksession.assignment.tasks.task_name }}</h3>
          <hr class="mx-3">
          <p class="session_card_body font-secondary"><span class="font-weight-bold">Proyecto:</span>{{ worksession.assignment.tasks.project }}</p>
          <hr class="mx-3">
          <p class="session_card_body font-secondary text-center">{{ worksession.duration }}</p>
        </div>
      {% endfor %}
    {% else %}
    <div class="session_card">
      <h3 class="session_card_title font-secondary">Aún no tienes sesiones de trabajo</h3>
    </div>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-4">
  </div>
  <div class="col">
    <!-- <i class="bi bi-caret-down-fill"></i> -->
  </div>
</div>
{% endblock %}