{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="row align-items-center">
    <div class="col">
        <div class="jumbotron bg-transparent">
            <h1 class="font-main jumbo-font">t<sup>3</sup></h1>
            <p class="big-font font-secondary">¿Sabes cuanto tiempo le dedicas a tus tareas?</p>
            <hr class="my-1">
            <p class="font-secondary">Con t<sup>3</sup> task time tracker podrás llevar registro del tiempo que dedicas a cada proyecto y tarea, de forma rápida y ordenada.</p>
            <a class="btn-dark-blue" href="{% url 'login' %}" role="button">Ingresar</a>
            <a class="btn-dark-blue" href="{% url 'register' %}" role="button">Crear cuenta</a>
          </div>
    </div>
    <div class="col w-25">   
        <img class="main-img" src="{% static 'master/img/t3.png' %}" alt="ProgressTracking">  
    </div>
</div>
{% endblock %}