{% extends 'base.html' %}
{% load static %}
{% block title %} Gestión de equipo y tareas{% endblock %}
{% block nav %}
    {% load crispy_forms_tags %}
    {% if user.company == 'No company' %}
        {% include 'nav-bar.html' %}   
    {% else %}
        {% include 'company-nav.html' %} 
    {% endif %}
{% endblock %}
{% block header %}
<header class="text-center m-5">
    <h3 class="font-main big-font">Gestión de tareas y colaboradores de {{ company.company_name }}</h3>
</header>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-6">
        <h3 class="font-main">Colaboradores</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Nivel de permisos</th>
                    <th>Gestionar</th>
                </tr>
            </thead>
            {% for staff in company.staff_members.all %}
            <tbody class="text-light">
                <tr>
                    <td>{{ staff.name }} {{ staff.lastname }}</td>
                    <td>{{ staff.jobtitle}}</td>
                    <td>{{ staff.get_permission_level_display }}</td>
                    <td><button class="more btn btn-warning" value="{{ staff.id }}"><i class="bi bi-arrow-bar-right"></i></button></td>
                </tr>
            {% endfor %} 
            </tbody>
        </table>
    </div>
    <div class="col">
        {% for staff in company.staff_members.all %}
            <div class="card text-dark" id="{{ staff.id }}">
                <div class="card-body">
                    <h6 class="card-title">Tareas asignadas a {{ staff.name }}</h5>
                    <ul class="list-group list-group-flush">
                        {% for assignment in assignments %} 
                            {% if staff == assignment.staff_member %}  
                                <li class="list-group-item"><span class="font-weight-bold">{{ assignment.tasks }}</span> <br>{{ assignment.tasks.project.project_name }}</li> 
                            {% endif %}                         
                        {% endfor %}
                        <form action="{% url 'addTask' %}" method="post">
                            {% csrf_token %}
                            <label for="tasks">Selecciona la tarea que quieres asignar</label>
                            <select name="tasks">
                                {% for project in company.company_projects.all %}
                                    {% for task in project.tasks.all %}
                                        {% if task.assigned_to.staff_member is not staff  %}
                                            <option value="{{ task.id }}">{{ task.task_name }} - {{ task.project }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                            <div class="card-body">
                                <input type="hidden" name="staffid" value="{{ staff.id }}">
                                <button class="btn btn-warning" type="submit">Agregar</button>
                            </div>
                        </form>
                    </ul>
                </div>               
            </div> 
        {% endfor %}
    </div>   
</div>
{% endblock %}