{% extends 'base.html' %}
{% load static %}
{% block title %}Mi perfil{% endblock %}
{% block nav %}
    {% if user.company == 'No company' %}
        {% include 'nav-bar.html' %}   
    {% else %}
        {% include 'company-nav.html' %} 
    {% endif %}   
{% endblock %}
{% block header %}
    {% include 'header_user.html' %}
{% endblock %}
{% block content %}
<div class="row row-cols-2 pb-2">
  <div class="col">
    <h3 class="font-main big-font text-left">Tu información:</h3>
  </div>
  <div class="col-6 d-flex">
    <h3 class="font-main big-font text-left"></h3>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <ul class="list-group pb-2">
        <h3 class="font-main medium-font text-left">Nombre:</h3>
        <li class="list-group-item font-secondary">{{  user.name }} {{ user.lastname }}</li>        
    </ul>
    <ul class="list-group">
        <h3 class="font-main medium-font text-left">Cargo:</h3>
        <li class="list-group-item font-secondary">{{  user.jobtitle }}</li>        
    </ul>
    <ul class="list-group">
      <h3 class="font-main medium-font text-left">Correo:</h3>
      <li class="list-group-item font-secondary">{{  user.email }}</li>        
    </ul>
    <ul class="list-group mb-3">
      <h3 class="font-main medium-font text-left">Empresa:</h3>
      <li class="list-group-item font-secondary">{{  user.company }}</li>        
    </ul>
    <a class="btn-dark-blue" href="{% url 'editarperfil' %}">Editar mi información</a>
  </div>
  <div class="col-6 d-flex">
  </div>
</div>

{% endblock %}