{% extends 'base.html' %}
{% load static %}
{% block title %} Crear Proyecto{% endblock %}
{% block nav %}
    {% load crispy_forms_tags %}
    {% if user.company == 'No company' %}
        {% include 'nav-bar.html' %}   
    {% else %}
        {% include 'company-nav.html' %} 
    {% endif %}
{% endblock %}
{% block header %}
<header class="text-center m-5">
    <h3 class="font-main big-font">{{ project.project_name }}</h3>
</header>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">Cliente: {{ project.client }}</li>
            <li class="list-group-item bg-transparent">Fecha de Inicio: {{ project.startDate }}</li>
            <li class="list-group-item bg-transparent">Fecha de Término: {{ project.endDate }}</li>
            <li class="list-group-item bg-transparent">Horas Asignadas: {{ project.hours_assigned }}</li>
            <li class="list-group-item bg-transparent">Responsable: {{ project.project_lead }}</li>
            <li class="list-group-item bg-transparent">Tareas asociadas:</li>
            <ul class="list-group">           
                {% if project.tasks %}
                    {% for task in project.tasks.all %}
                    <li class="list-group-item bg-transparent">{{ task.task_name }}</li>                  
                    {% endfor %}
                {% else %}    
                    <p class="font-secondary font-italic">Aún no tienes tareas asociadas a este proyecto.</p>
                {% endif %}
                    

            </ul>
        </ul>
    </div>
    <div class="col">
        <div>            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tag }}"{% endif %}>{{ message }}</li>                         
                    {% endfor %}
                </ul>
            {% endif %}                   
        </div>
        <h3 class="font-main">Agrega una tarea al proyecto</h3>
        <form action="{% url 'project' id=project.id %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-warning" type="submit">Agregar</button>
        </form>
    </div>
</div>
{% endblock %}