{% extends 'base.html' %}
{% load static %}
{% block title %} Crear Proyecto{% endblock %}
{% block nav %}
    {% load crispy_forms_tags %}
    {% if user.company == 'No company' %}
        {% include 'nav-bar.html' %}   
    {% else %}
        {% include 'company-nav.html' %} 
    {% endif %}
{% endblock %}
{% block header %}
<header class="text-center m-5">
    <h3 class="font-main big-font">{{ project.project_name }}</h3>
    <h5 class="font-main medium-font">Responsable: <a href="{% url 'staff_info' id=project.project_lead.id %}">{{ project.project_lead }}</a></h5>
</header>
{% endblock %}
{% block content %}
<div class="row row-cols-2 mb-2">
    <div class="col-5">
        <table class="table table-sm bg-light-blue border-dark rounded shadow">
            <thead class="thead-dark">
                <tr>
                    <th>Cliente</th>
                    <th>Inicio</th>
                    <th>Término</th>
                    <th>HH</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ project.client }}</td>
                    <td>{{ project.startDate|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ project.endDate|date:"SHORT_DATE_FORMAT"  }}</td>
                    <td>{{ project.hours_assigned }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm bg-light-blue border-dark rounded shadow">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Tareas del proyecto</th>
                </tr>
                <tr>
                    <th>Tarea</th>
                    <th>Prioridad</th>
                </tr>
            </thead>
            <tbody>
                {% if project.tasks %}
                    {% for task in project.tasks.all %}
                    <tr>
                        <td>{{ task.task_name }}</td>
                        <td>{{ task.priority }}</td>
                    </tr>
                    {% endfor %}
                {% else %}    
                    <p class="font-secondary font-italic">Aún no tienes tareas asociadas a este proyecto.</p>
                {% endif %}
            </tbody>
        </table>  
    </div>        
    <div class="col-6 ml-5">    
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tag }}"{% endif %}>{{ message }}</li>                         
                {% endfor %}
            </ul>
        {% endif %}  
        {% if user.permission_level == 'a' or user.permission_level == 'b' or user.account_type == 'SU' %}                      
        <h3 class="font-main">Agrega una tarea al proyecto</h3>
        <form action="{% url 'project' id=project.id %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    {{ form.task_name|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.hours_assigned|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.startDate|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.endDate|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.priority|as_crispy_field }}
                </div>
            </div> 
            {% if user.account_type == 'SU' %}
            <input type="hidden" name="assigned_to" value="user">           
            {% endif %}     
            <button class="btn btn-warning" type="submit">Agregar</button>
        </form>
        {% endif %}
    </div>     
</div>
{% endblock %}