{% extends 'base.html' %}
{% load static %}
{% block title %} Equipo de Trabajo{% endblock %}
{% block nav %}
    {% load crispy_forms_tags %}
    {% if user.company == 'No company' %}
        {% include 'nav-bar.html' %}   
    {% else %}
        {% include 'company-nav.html' %} 
    {% endif %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row my-5">
    <div class="col">
        <div>            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tag }}"{% endif %}>{{ message }}</li>                         
                    {% endfor %}
                </ul>
            {% endif %}                   
        </div>
        <h3 class="font-main">Agrega a tus colaboradores</h3>
        <form action="{% url 'team_setup' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-warning" type="submit">Agregar</button>
        </form>
    </div>
    <div class="col">
        <h3 class="font-main">Colaboradores</h3>
        <table class="table bg-light-blue border-dark rounded shadow table-striped">
            <thead class="thead-dark">
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Correo</th>
                <th>Permisos</th>
                <th>Detalles</th>
            </thead>
            <tbody class="text-light">
                {% for staff in company.staff_members.all %}
                <tr>
                    <td>{{ staf.name }} {{ staff.lastname}}</td>
                    <td>{{ staff.jobtitle }}</td>
                    <td>{{ staff.email }}</td>
                    <td>{{ staff.permission_level }}</td>
                    <td class="text-center"><a href="{% url 'staff_info' id=staff.id %}">+</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}