{% extends 'base.html' %}
{% load static %}
{% block title %}Sesión de trabajo{% endblock %}
{% block nav %}
    {% load crispy_forms_tags %}
    {% if user.company == 'No company' %}
        {% include 'nav-bar.html' %}   
    {% else %}
        {% include 'company-nav.html' %} 
            {% endif %}
{% endblock %}
{% block header %}
<header class="text-center m-5">
    <h3 class="font-main big-font">Sesión de trabajo de {{ user.name }}</h3>
</header>
{% endblock %}
{% block content %}
    <div>
        <h3 class="font-main">Comienza a trabajar en una de tus tareas</h3>
        <form action="startworksesh" method="post">
            {% csrf_token %}
            <div class="form-group row">
                    <label for="this_assignment">Tarea:</label>
                    <select class="form-control" name="this_assignment" id="this_assignment">
                        {% for assignment in assignments %}
                            <option value="{{ assignment.id }}">{{ assignment.tasks.task_name}} - {{ assignment.tasks.project.project_name }}</option>
                        {% endfor %}
                    </select>
                <div class="col mt-4">
                    <button type="submit" class="btn btn-success"><i class="bi bi-caret-right"></i></button>
                </div>
            </div>
        </form>
        <form action="stopworksesh" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="bi bi-stop"></i></button>
        </form>  
    </div>
    <div class="row mt-5">
        <h3 class="font-main">Sesiones de trabajo recientes</h3>
        <table class="table table-striped">
            <thead class="thead-dark">
                <th>Id</th>
                <th>Tarea</th>
                <th>Proyecto</th>
                <th>Duración</th>
                <th>Detalles</th>
            </thead>
            <tbody class="text-light">

                    {% for assignment in assignments %}
                        {% for worksession in assignment.worksessions.all %}
                        <tr>
                            <td>{{ worksession.id }}</td>
                            <td>{{ assignment.tasks.task_name }}</td>
                            <td>{{ assignment.tasks.project }}</td>
                            <td>{{ worksession.startTime }}</td>
                            <td>{{ worksession.stopTime }}</td>   
                        </tr>   
                        {% endfor %}
                    {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}