{% extends 'master/base_outside.html' %}
{% load static %}
{% block title %}Sobre t3 {% endblock %}
{% block nav %}
    {% if user.company == 'No company' %}
        {% include 'master/nav-bar.html' %}   
    {% else %}
        {% include 'master/company-nav.html' %} 
    {% endif %}   
{% endblock %}
{% block content %}
<div class="row align-items-center">
    <div class="col">
        <div class="jumbotron bg-transparent">
            <h1 class="font-main jumbo-font">t<sup>3</sup></h1>
            <p class="big-font font-secondary">¿Sabes cuanto tiempo le dedicas a tus tareas?</p>
            <hr class="my-1">
            <p class="font-secondary">Con t<sup>3</sup> task time tracker podrás llevar registro del tiempo que dedicas a cada proyecto y tarea, de forma rápida y ordenada.</p>
          </div>
    </div>
    <div class="col w-25">   
        <img class="main-img" src="{% static 'master/img/t3_login.png' %}" alt="about">  
    </div>
</div>
{% endblock %}