{% extends 'master/base.html' %}
{% load static %}
{% block title %}Sesión de trabajo{% endblock %}
{% block nav %}
    {% load crispy_forms_tags %}
    {% if user.company == 'No company' %}
        {% include 'master/nav-bar.html' %}   
    {% else %}
        {% include 'master/company-nav.html' %} 
            {% endif %}
{% endblock %}
{% block header %}
<header class="text-center m-5">
    <h3 class="font-main big-font">Sesión de trabajo de {{ user.name }}</h3>
</header>
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-5">
        <h3 class="font-main">¿En qué vas a trabajar?</h3>
        <div class="form-inline">
            <form id="sesh_form" action="{{ action_post}}" method="post">
                {% csrf_token %}
                <select class="form-control" name="this_assignment" id="this_assignment">
                    {% for assignment in assignments %}
                        <option value="{{ assignment.id }}">{{ assignment.tasks.task_name}} - {{ assignment.tasks.project.project_name }}</option>
                    {% endfor %}
                </select>
                <button id="sesh_control" type="submit" class="btn {{ btn_class }}"><i class="bi bi-alarm-fill"></i></button>
            </form>
        </div>
    </div>
    <div class="col-6 overflow-auto">
        <h3 class="font-main">Tu sesiones de trabajo de hoy</h3>
        <table class="table table-striped bg-light-blue border-dark rounded shadow ">
            <thead class="thead-dark">
                <th>Id</th>
                <th>Tarea</th>
                <th>Proyecto</th>
                <th>Duración</th>
                <th>Comentarios</th>
            </thead>
            <tbody class="text-dark">              
                {% if todays_seshs %}
                    {% for sesh in todays_seshs %}
                        {% if sesh == active_worksesh %} 
                        <tr>
                            <td class='bg-success'>{{ sesh.id }}</td>
                            <td class='bg-success'>{{ sesh.assignment.tasks.task_name }}</td>
                            <td class='bg-success'>{{ sesh.assignment.tasks.project }}</td> 
                            <td class='bg-success' colspan="2">En curso</td>
                        </tr>
                        {% else %} 
                        <tr>
                            <td>{{ sesh.id }}</td>
                            <td>{{ sesh.assignment.tasks.task_name }}</td>
                            <td>{{ sesh.assignment.tasks.project }}</td>   
                            <td>{{ sesh.duration }}</td>   
                            <td>Sin comentarios</td> 
                        {% endif %}      
                    {% endfor %}    
                    {% else %}  
                        <td colspan="5">Hoy no has iniciado ninguna sesión de trabajo</td> 
                {% endif %}
            </tbody>
        </table>
    </div>
</div>  
{% endblock %}