{% extends 'master/base.html' %}
{% load static %}
{% block title %}Mi perfil{% endblock %}
{% block nav %}
  {% if user.company == 'No company' %}
      {% include 'master/nav-bar.html' %}   
  {% else %}
      {% include 'master/company-nav.html' %} 
  {% endif %}   
{% endblock %}
{% block header %}
  {% load crispy_forms_tags %}
  {% include 'master/header_user.html' %}
{% endblock %}
{% block content %}
<div class="row row-cols-2 pb-2">
  <div class="col">
    <h3 class="font-main big-font text-left">Edita tu información:</h3>
  </div>
  <div class="col-6 d-flex">
    <h3 class="font-main big-font text-left"></h3>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <form action="editarperfil" method="post">
      {% csrf_token %}
      {{ editform|crispy }}
      <button class="btn btn-secondary font-main" type="submit">Editar mi información</button>
    </form>
  </div>
  <div class="col-4">
    <form action="editarpass" method="post">
      {% csrf_token %}
      {{ editpass|crispy }}
      <button class="btn btn-secondary" type="submit">Cambiar mi contraseña</button>
    </form>
  </div>
</div>

{% endblock %}