{% extends 'master/base.html' %}
{% load static %}
{% block title %} Gestión de equipo y tareas{% endblock %}
{% block nav %}
    {% load crispy_forms_tags %}
    {% if user.company == 'No company' %}
        {% include 'master/nav-bar.html' %}   
    {% else %}
        {% include 'master/company-nav.html' %} 
    {% endif %}
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row justify-content-center py-5">
    <h3 class="font-main">Selecciona un colaborador para asignarle tareas</h3>
</div>
    <div class="row justify-content-centerpb-3">
        <form action="{% url 'addTask' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-3">
                <label for="staff_member">Colaborador</label>
                <select class="form-control" name="staff_member" id="staff_member">
                    {% for staff in company.staff_members.all %}
                    <option class="form-control" value="{{ staff.id }}">{{ staff.name }} {{staff.lastname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <label for="project">Proyecto</label>
                <select class="form-control" name="project" id="project_select">
                {% for project in company.company_projects.all %}
                <option class="form-control" value="{{ project.id }}">{{ project.project_name}}</option>
                {% endfor %}
                </select>
            </div>
            {% for project in company.company_projects.all %}
                <div class="col-3 hideselect {{ project.id }}">
                    <label for="tasks">Tareas</label>
                    <select class="form-control" name="tasks">
                        {% for task in project.tasks.all %}
                        <option class="form-control" value="{{ task.id }}">{{ task.task_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
            <button class="btn-dark-blue-sm mt-4" type="submit">Agregar</button>
        </div>           
        </form>  
    </div>
    <div class="row">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tag }}"{% endif %}>{{ message }}</li>                         
            {% endfor %}
        </ul>
        {% endif %} 
    </div>
    <div class="col d-flex">
        {% for staff in company.staff_members.all %}
            <div class="card text-dark shadow mr-2" id="{{ staff.id }}">
                <div class="card-body">
                    <h6 class="card-title">Tareas asignadas a {{ staff.name }}</h5>
                    <ul class="list-group list-group-flush">
                        {% for assignment in assignments %} 
                            {% if staff == assignment.staff_member %}  
                                <li class="list-group-item"><span class="font-weight-bold">{{ assignment.tasks }}</span> <br>{{ assignment.tasks.project.project_name }}</li> 
                            {% endif %}                         
                        {% endfor %}
                    </ul>
                </div>               
            </div> 
        {% endfor %}
    </div> 

{% endblock %}