{% extends 'master/base.html' %}
{% load static %}
{% block title %}Mi perfil{% endblock %}
{% block nav %}
  {% load crispy_forms_tags %}
    {% if user.company == 'No company' %}
        {% include 'master/nav-bar.html' %}   
    {% else %}
        {% include 'master/company-nav.html' %} 
    {% endif %}   
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="row row-cols-2 justify-content-center py-5">
  <div class="col-4">
    <h3 class="font-main big-font text-left">Tu información:</h3>
    <div>            
      {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tag }}"{% endif %}>{{ message }}</li>                         
              {% endfor %}
          </ul>
      {% endif %}                   
    </div>
    <div class="bg-light-blue border-dark rounded shadow">
      <table class="table">
        <tbody>
          <tr>
            <td class="bg-dark font-weight-bold text-light">Nombre:</td>
            <td>{{  user.name }} {{ user.lastname }}</td>
          </tr>
          <tr>
            <td class="bg-dark font-weight-bold text-light">Cargo:</td>
            <td>{{  user.jobtitle }}</td>
          </tr>
          <tr>
            <td class="bg-dark font-weight-bold text-light">Correo:</td>
            <td>{{  user.email }}</td>
          </tr>
          {% if user.account_type == 'TA' %}
          <tr>
            <td class="bg-dark font-weight-bold text-light">Empresa:</td>
            <td>{{  user.company }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-6">
    <h3 class="font-main big-font text-center">Edita tu información</h3>
    <div class="row justify-content-center">
      <div class="col-5">
        <form action="editarperfil" method="post">
          {% csrf_token %}
          {{ editform|crispy }}
          <button class="btn btn-secondary font-main" type="submit">Editar</button>
        </form>
      </div>
      <div class="col-5">
        <form action="editarpass" method="post">
          {% csrf_token %}
          {{ editpass|crispy }}
          <button class="btn btn-secondary font-main" type="submit">Cambiar mi contraseña</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}